/* Global styles */

body{
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

h1{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
}

h4{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

@media only screen and (max-width:600px) {
  body{
    font-size: 18px;
  }

  h1{
    font-size: 2.5rem;
  }

  h4{
    font-size: 1.75rem;
  }

}

/* Navigation logo header */

header{
  position: fixed;
  display: flex;
  align-items: center;
  background-color: rgba(213,163,  0,0.75);
  width: 100%;
  height: 4rem;
  z-index: 5;
}

header .inside{
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

header .mobile{
  display: none;
}

header .logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2rem;
}

.logo p{
  font-size: 1.25rem;
}

.logo span{
  font-weight: bold;
}

header img{
  height: 100%;
  width: auto;
  margin-left: 1.5rem;
}

header nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

header nav a{
  margin: 0.5rem;
  padding: 0.25rem;
  background-color: rgba(144,132, 92, 0.75);
  border: 2px solid rgba(118,117,111, 0.75);
  border-radius: 5px;
}

header nav a:hover{
  background-color: rgba(255,195,  0,1);
  transition: background-color 400ms ease-out;
}


@media only screen and (max-width: 600px){
    header .mobile{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      min-height: 4rem;
    }

    header .inside{
      display: none;
    }
}

/* Banner section */

.banner{
  position: relative;
  top: 4rem;
  background-color: rgba(136,129,255,1);
  width: 100%;
}

.banner .inside{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
  margin: auto;
}

.banner img{
  display: block;
  height: auto;
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner .opener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
}

.banner .opener p{
  font-family: "Playfair Display", serif;
  line-height: 1.4;
}

.opener .btn{
  width: 80%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: White;
  padding: 8px;
  background-color: rgba(144,132, 92, 0.75);
  border: 2px solid rgba(118,117,111, 0.75);
  border-radius: 5px;
}

.opener .btn:hover{
  background-color: rgba(255,195,  0,1);
  transition: background-color 400ms ease-out;
}

@media only screen and (max-width: 600px) {
  .banner .inside{
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
  }

  .banner img{
    width: 100%;
    margin: 0;
  }

  .banner .opener{
    display: flex;
    justify-content: flex-start;
    width: 75%;
    margin: 2rem 1rem;
  }

  .banner .opener p{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .banner .opener .btn{
    width: 100%;
  }
}

/* Content and info */

.browser{
  position: relative;
  top: 4rem;
  width: 960px;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.mobile-content{
  display: none;
}

.browser main{
  width: 60%;
  margin: 0 1.5rem;
}

.browser main img{
  width: 100%;
  height: auto;
}

.browser main h1{
  margin: 2rem 1rem 1rem 1rem;
}

.browser main p{
  font-family: "Playfair Display", serif;
  margin: 0 1rem 1rem 1rem;
  line-height: 1.4;
}

.browser main em{
  font-family: "Playfair Display", serif;
  font-style: italic;
}


.browser .information{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 35%;
}

.browser .info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 0 2rem 0;
}

.browser .info img{
  width: 35%;
  height: auto;
}

.browser .info-txt{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: normal;
  width: 65%;
  padding-left: 1rem;
}

.browser .info-txt p{
  font-size: 0.8rem;
  margin: 0.5rem 1rem 0.5rem 0;
  line-height: 1.4;
}

.browser .info-txt a{
  color: rgba( 18,138,255,1);
  text-decoration-line: underline;
}

@media only screen and (max-width: 600px) {
  .browser{
    display: none;
  }

  .mobile-content{
    position: relative;
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2.5rem 0 2rem 0;
  }

  .mobile-content .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .mobile-content .info img{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  .mobile-content .info-txt{
    margin-left: 1rem;
  }

  .mobile-content .info p{
    padding: 0.5rem 0;
  }

  .mobile-content .info-txt a{
    color: rgba( 18,138,255,1);
    text-decoration-line: underline;
  }
}

/* Courses section */
.learning{
  position: relative;
  top: 4rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  flex-wrap: wrap;
  width: 960px;
  margin: auto;
  border-top: 2px solid rgba(118,117,111, 0.75);
}

.learning .header{
  text-align: center;
  width: 100%;
  margin-top: 32px;
}

.learning .course{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25%;
  height: 250px;
  margin: 2rem 1rem;
  background-color: rgba(166,211,255,1);
}

.learning .course img{
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.course h4{
  margin-left: 1rem;
}

.course h4 a:hover{
  color: rgba(213,163, 0,1);
}

.course p{
  margin: 0.5rem 0.5rem 0 1rem;
  font-size: 0.75rem;
  line-height: 1.4;
}

@media only screen and (max-width: 600px){
  .learning .course img,
  .learning .course p{
    display: none;
  }

  .learning{
    position: relative;
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0 0.5rem 0;
  }

  .learning .course{
    display: block;
    width: 98%;
    height: auto;
    margin: 0.5rem 0;
  }

  .learning h1{
    margin: 0 0 1rem 0;
  }

  .learning .course h4{
    width: auto;
    padding: 1rem 1rem 1.5rem 1rem;
    margin: 0 1rem;
  }
}

/* thesis display section here */
.exhibits{
  position: relative;
  top: 4rem;
  background-color:rgba(136,129,255,1); /*;*/
  padding-top: 2rem;
}

.exhibits .header{
  width: 100%;
  text-align: center;
  margin: 0 0 2rem 0;
}

.thesese{
  display: flex;
  align-items: flex-start;
  margin: auto;
  width: 960px;
}

.thesese .main-thesis{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  margin: 1.5rem;
}

.main-thesis video{
  width: 100%;
  height: auto;

}

.main-thesis h4{
  margin: 1.5rem 0 0.5rem 0;
}

.main-thesis p{
  font-family: "Playfair Display", serif;
  margin-bottom: 2rem;
  line-height: 1.4;
}

.secondary-thesese{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary-thesese .thesis{
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.thesis img{
  display: block;
  width: 30%;
  height: auto;
  margin: 1rem;
}

.thesis .thesis-txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
}

.thesis .thesis-txt p{
  margin-top: 0.5rem;
  line-height: 1.4;
}

@media only screen and (max-width: 600px) {
  .main-thesis h4,
  .main-thesis p,
  .secondary-thesese{
    display: none;
  }

  .thesese{
    width: 100%;
  }

  .thesese .main-thesis{
    width: 100%;
    margin: 0;
  }
}

/* Footer Section */

.footer{
  position: relative;
  top: 4rem;
  border-top: 2px solid rgba(118,117,111, 0.75);
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 2rem 1.5rem;
  margin: auto;
  width: 960px;
}

footer nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer nav p,
footer nav i{
  margin: 0.5rem;
}

footer span{
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  footer{
    width: auto;
  }

  footer nav{
    display: none;
  }

}
