/* global styles */

body{
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

h1{
  font-size: 2.25rem;
  font-weight: bold;
}

h4{
  font-size: 1.25rem;
  font-weight: bold;
}

/* Navigation logo header */

.logo-nav{
  position: fixed;
  display: flex;
  align-items: center;
  background-color: grey;
  width: 100%;
  height: 64px;
  z-index: 5;
}

.logo-nav .inside{
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo-nav .mobile{
  display: none;
}

.logo-nav .logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
}

.logo span{
  font-weight: bold;
}

.logo-nav img{
  height: 100%;
  width: auto;
  margin-left: 24px;
}

.logo-nav .navigation{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 16px;
}

.logo-nav .navigation a{
  padding: 8px;
}

.logo-nav .navigation p{
  padding: 8px;
}

@media only screen and (max-width: 600px){
  .logo-nav .mobile{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      min-height: 64px;
    }

    .logo-nav .inside{
      display: none;
    }

}

/* Banner section */

.banner{
  position: relative;
  top: 4rem;
  background-color: red;
  width: 100%;
}

.banner .inside{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
  margin: auto;
}

.banner img{
  display: block;
  height: auto;
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner .opener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

.opener .btn{
  width: 80%;
  text-align: center;
  padding: 8px;
  background-color: grey;
}

@media only screen and (max-width: 600px) {
  .banner .inside{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }

  .banner img{
    width: 100%;
    margin: 0;
  }

  .banner .opener{
    margin: 2rem 1rem;
  }

  .banner .opener p{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .banner .opener .btn{
    width: 100%;
  }

}

/* Content and info */

.browser-content{
  position: relative;
  top: 4rem;
  width: 960px;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.mobile-content{
  display: none;
}

.browser-content .main-article {
  width: 60%;
  height: auto;
  margin: 0 1rem;
}

.browser-content .main-article img{
  width: 100%;
  height: auto;
}

.browser-content .main-article h1{
  margin: 32px 0 24px 0;
}


.browser-content .information{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.browser-content .info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 2rem;
}

.browser-content .info img{
  width: 35%;
  height: auto;
  margin-right: 1rem;
}

.browser-content .info-txt{
  width: 65%;
}

.browser-content .info-txt p{
  margin: 0.5rem 0;
}


@media only screen and (max-width: 600px) {
  .browser-content{
    display: none;
  }

  .mobile-content{
    position: relative;
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;;
    width: 100%;
    margin: 2.5rem 1rem 2rem 1rem;
  }

  .mobile-content .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .mobile-content .info img{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  .mobile-content .info-txt{
    margin-left: 1rem;
  }

  .mobile-content .info p{
    padding: 0.5rem 0;
  }
}

/* Courses section */
.learning{
  position: relative;
  top: 4rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  flex-wrap: wrap;
  width: 960px;
  margin: auto;
}

.learning .header{
  text-align: center;
  width: 100%;
  margin-top: 32px;
}

.learning .course{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25%;
  margin: 2rem;
  background-color: grey;
}

.learning .course img{
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.course h4{
  margin-left: 1rem;
}

.course p{
  margin: 0.5rem 0 0 1rem;
}

@media only screen and (max-width: 600px){
  .learning .course img,
  .learning .course p{
    display: none;
  }

  .learning{
    position: relative;
    top: 4rem;
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    height: auto;
  }

  .learning .course{
    display: block;
    width: 100%;
    margin: 0.5
  }

  .learning .course h4{
    width: 100%;
    padding: 1rem 1rem 1.5rem 1rem;
    margin: 0 1rem;
  }
}

/* thesis display section here */
.exhibits{
  position: relative;
  top: 4rem;
  background-color: grey;
  padding-top: 2rem;
}

.exhibits .header{
  width: 100%;
  text-align: center;
  margin: 0 0 2rem 0;
}

.thesese{
  display: flex;
  align-items: flex-start;
  margin: auto;
  width: 960px;
}

.thesese .main-thesis{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  margin: 1.5rem;
}

.main-thesis video{
  width: 100%;
  height: auto;

}

.main-thesis h4{
  margin: 1.5rem 0 0.5rem 0;
}

.main-thesis p{
  margin-bottom: 2rem;
}

.secondary-thesese{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary-thesese .thesis{
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.thesis img{
  display: block;
  width: 30%;
  height: auto;
  margin: 1rem;
}

.thesis .thesis-txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
}

.thesis .thesis-txt p{
  margin-top: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .main-thesis h4,
  .main-thesis p,
  .secondary-thesese{
    display: none;
  }

  .thesese{
    width: 100%;
  }

  .thesese .main-thesis{
    width: 100%;
    margin: 0;
  }
}
