/* global styles */

body{
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

h1{
  font-size: 2.25rem;
  font-weight: bold;
}

h4{
  font-size: 1.25rem;
  font-weight: bold;
}

/* Navigation logo header */

.logo-nav{
  display: flex;
  align-items: center;
  position: fixed;
  background-color: grey;
  width: 100%;
  height: 64px;
  z-index: 5;
}

.logo-nav .inside{
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo-nav .mobile{
  display: none;
}

.logo-nav .logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
}

.logo span{
  font-weight: bold;
}

.logo-nav img{
  height: 100%;
  width: auto;
  margin-left: 24px;
}

.logo-nav .navigation{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 16px;
}

.logo-nav .navigation a{
  padding: 8px;
}

.logo-nav .navigation p{
  padding: 8px;
}

@media only screen and (max-width: 600px){
  .logo-nav .mobile{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      min-height: 64px;
    }

    .logo-nav .inside{
      display: none;
    }

}

/* Banner section */

.banner{
  position: relative;
  top: 64px;
  background-color: red;
  width: 100%;
}

.banner .inside{
  display: flex;
  align-items: center;
  width: 960px;
  margin: auto;
}

.banner img{
  display: block;
  height: auto;
  width: 60%;
  margin: 32px 24px;
}

.banner .opener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

.opener .btn{
  width: 80%;
  text-align: center;
  padding: 8px;
  background-color: grey;
}

@media only screen and (max-width: 600px) {
  .banner .inside{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }

  .banner img{
    width: 100%;
    margin: 0;
  }

  .banner .opener{
    margin: 32px 16px;
  }

  .banner .opener p{
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .banner .opener .btn{
    width: 100%;
  }

}

/* Content and info */

.content{
  position: relative;
  top: 64px;
  width: 960px;
  display: flex;
  justify-content: center;
  margin: 32px auto;

}

.content .main-article {
  width: 60%;
  height: auto;
  margin: 0 24px;
}

.content .main-article img{
  width: 100%;
  height: auto;
}

.content .main-article h1{
  margin: 32px 0 24px 0;
}


.content .information{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.content .info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 2rem;
}

.content .info img{
  width: 35%;
  height: auto;
  margin-right: 1rem;
}

.content .info-txt{
  width: 65%;
}

.content .info-txt p{
  margin: 0.5rem 0;
}


/* IDEA: having trouble with browser content not dissapering properly.
Need to figure out from here */
@media only screen and (max-width: 600px) {
  .content .browser{
    display: none;
  }
  .content .main-article{
    display: none;
  }

  .content .mobile{
    display: flex;
    flex-direction: column;
    margin: 2.5rem 1rem 2rem 1rem;
  }

  .content .mobile .info img{
    width: 100%;
    height: auto;

  }



}
